numpy==1.26.4
pytorch-lightning==2.0.0
torchmetrics==1.9.0
torchaudio==2.1.0
torchvision==0.16.0
torch==2.1.0
onnx==1.22.0
onnxruntime==1.29.0
onnxsim==0.7.3
h5py==3.16.0
pesq==0.0.4
pystoi==0.4.1
scipy==1.17.1
soundfile==0.14.0
omegaconf==2.3.1
tqdm==4.70.0
sortedcontainers==2.4.0
tensorboard==2.21.0
librosa==0.11.0
joblib==1.6.0
